<!-- <ng-map center="500 President Clinton Ave, Little Rock, AR">

  <marker id="{{ $index }}" on-click="mapCtrl.yellAdress(address)" ng-repeat="address in mapCtrl.addresses" position="{{ address.address }} 500 President Clinton Ave, Little Rock, AR">

  </marker>

</ng-map> -->





































<ng-map
 center="8 Flag Rd, Little Rock, AR"

 zoom="8"
 map-type-id="TERRAIN">

 <marker ng-repeat="address in mapCtrl.addresses" position="8 Flag Rd, Little Rock, AR"></marker>

</ng-map>
