<form class="locationsform">
   <input class="address" type="text" placeholder="address" ng-model="LocationsCtrl.Logged()">
   <input class="city" type="text" placeholder="city" ng-model="LocationsCtrl.Logged()">
   <input class="state" type="text" placeholder="state" ng-model="LocationsCtrl.Logged()">
</form>

<div id="ngmap"></div>

<h4> Sample Text </h4>





































<ng-map
 center="8 Flag Rd, Little Rock, AR"

 zoom="8"
 map-type-id="TERRAIN">

 <marker ng-repeat="address in mapCtrl.addresses" position="8 Flag Rd, Little Rock, AR"></marker>

</ng-map>
